[Unit]
Description=Run OneDrive sync periodically (Lumen)

[Timer]
OnBootSec=5m
OnUnitActiveSec=20m
RandomizedDelaySec=60
Persistent=true
Unit=onedrive-lumen.service

[Install]
WantedBy=timers.target
