[Unit]
Description=Run OneDrive Lumen sync every 20 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=20min
AccuracySec=30s
Persistent=true
Unit=onedrive-lumen.service

[Install]
WantedBy=timers.target
